/**
*
*body
**/

* {
   margin: 0;
}

body{
  font-family: 'Taviraj', serif;
   height: 100%;
}

.height {
    background-color: #edeee8;
    background-image: url("/img/img5.jpg");
    background-size: cover;
    min-height: 255vmin;
}

.pollheight {
    background-color: #edeee8;
    background-image: url("/img/img5.jpg");
    background-size: cover;
    min-height: 100vmin;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

h1 ,.H1 {
  font-size: 4vmin;
  color: black;
}
.H2 {
  font-size: 3vmin;
}

.Sub  {
  font-size: 1.5vmin;
}

input {
  color: black;
}

.H3 {
  font-size: 1vmin;
}

#page-head {
  font-size: 4vmin;
  color: white;
  border-radius: 3vmin;
  padding: 2vmin;
  background-color: #944866;
  line-height: 1;
}

#page-head-home {
  font-size: 4vmin;
  color: white;
  border-radius: 3vmin;
  padding: 2vmin;
  background-color: #944866;
  line-height: 1;
  margin-top: 10vmin;
}



.btn-xs {
  background-color: #ead042;
  color: white;
}

/*loader*/
md-progress-circular.md-mode-intermediate.ng-isolate-scope{
  margin-left: 45%;
  margin-top: 5%;
}

div.layout-sm-column {
  margin-bottom: 5vmin;
}


.view {
  
  transition: all linear 0.5s;

}

/**
 * Index View
 *
 */

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }


#blank {
  height: 20%;
}

.message {

  margin-top: -2vmin;
  color: yellow;
  font-size: 3vmin;
}

a .heading , a .actionBtns2 {
  color: white;
} 

div#header {
  height: 20vmin;
  background-color: #303030;
  color: white;
  line-height: 3vmin;
  padding-top: 5vmin;
}

#create_btn {
  margin-top: .3%;
}


glyphicon-star:before , glyphicon-star:before {
  font-size: 3vmin;
}

div.outer {
  margin-top: 10%;
}

.colorQuestion , .styleOption{
  color: black;
}

.styleOption{
  color: black;
  font-size: 2vmin;
}

.styleQuestion {
  color: black;
  font-size: 2.5vmin;
}

.heading  {
  font-size: 7vmin;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 0;
  text-shadow: 2px 0 #ffffff;
  font-family: 'Poiret One', cursive;
  /*font-family: 'Lobster Two', cursive;*/
  /*font-family: 'EB Garamond', serif;*/
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.glyphicon.glyphicon-check ,#one, #two, #three {
  color: yellow;
}

md-content.layout-padding._md.layout-column {
  padding: 0 !important;
}
form.ng-pristine.ng-valid.ng-valid-required{
  padding: 0px;
}


.cover {
  background-color: red;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 3vmin;
  background-color: rgba(121, 203, 180, 0.51);

}

a.actionBtns1 {
  padding-top: 4%;
  color: white;
  font-weight: 700;
  font-size: 3vmin;
  text-transform: uppercase;
  text-decoration: none;
}

button.actionBtns2 {
  background-color: transparent;
  border-color: transparent;
  font-weight: 700;
  font-family: 'Taviraj', serif;
  text-transform: uppercase;
}

.shadow {
  text-shadow: -1px -1px 20px white;
  transform: translate(0, -5px);
  transition: transform .3s ease-out;
}

#allbtn:hover {
  text-shadow: -1px -1px 20px white;
  transform: translate(0, -5px);
  transition: transform .3s ease-out;
  color: red;
}

.shadow1 {
  text-shadow: -1px -1px 20px white;
  
}

.form {
  padding: 45px;
  color: whitesmoke;
  background-image: url("/img/img4.jpg");
  background-size: cover;
  background-color: rgb(150, 108, 83);
  background-color: #edeee8;
  background-size: cover;
  min-height: 100vmin;
}

.button {
  background-color: #ead042;
  border: none;
  color: white;
  font-size: 2vmin;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
}

.buttonPoll {
  background-color: #ead042;
  border: none;
  color: white;
  font-size: 2vmin;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  width: 20vmin;
  font-size: 3vmin;
}

.button-sm {
  background-color: #337ab7;
  border: none;
  color: white;
  width: 17vmin
  font-size: .9vmin;
  margin-top: 1%;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  -webkit-transition: width 1s; 
  transition: width 1s;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; 
}

.button-sm:hover {
  
  width: 18vmin;
  
}


.button:hover {
  transform: translate(0, -5px);
  transition: transform .3s ease-out;
}

.actionBtns2:hover {

  transform: translate(0, -5px);
  transition: transform .3s ease-out;
  background-color: transparent;
  color: white;
  text-shadow: -1px -1px 20px white;
}

.select {
  display: block;
  width: 100%;
  color: black;
  background-color: rgb(255, 255, 255);
}

input.opt{
    color: black;
    display: block;
    margin-bottom: 1vmin;
}

label.optlabel {
  color: black;
}

/* Create form*/


.create_survey {
  padding: 4vmin;
  background-color: white;
  width: 50%;
  color: black;
  margin-top: 10vmin;
  margin-bottom: 4vmin;
  border-top: 10px solid gold;
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  border-bottom: 10px solid gold;
}

.form .create_survey {
  background-image: none !important;
  background-color: white;
  padding-top: 45px;
}

#title , #subtitle , #instructions{
  height: 4vmin;
  border-bottom: 2px solid #555555;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/*edit survey*/

.edit_survey{
  padding: 4vmin !important;
  background-color: white;
  width: 50%;
  color: black;
  margin-top: 10vmin;
  margin-bottom: 4vmin;
  border-top: 10px solid gold;
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  border-bottom: 10px solid gold;
}
}

/*Single Suvey*/
.single {
    border-top: 5px solid #dcbc2b;
    border-bottom: 5px solid #dcbc2b;
    border-right: 1px solid #dcbc2b;
    border-left :1px solid #dcbc2b;
    padding: 2vmin;
    margin-top: 4vmin;
    background-color: beige;
}

.singlelast {
    border-top: 5px solid #dcbc2b;
    border-bottom: 5px solid #dcbc2b;
    border-right: 1px solid #dcbc2b;
    border-left :1px solid #dcbc2b;
    padding: 2vmin;
    margin-top: 4vmin;
    background-color: beige;
    margin-bottom: 4vmin;
}

.first {
    border-top: 5px solid #dcbc2b;
    border-bottom: 5px solid #dcbc2b;
    border-right: 1px solid #dcbc2b;
    border-left :1px solid #dcbc2b;
    padding: 2vmin;
    margin-top: 7vmin;
    background-color: beige;
}

hr {
  background-color: #dcbc2b;
  height: .1vmin;
}

.survey_head {
  padding: 2vmin;
  line-height: 5vmin;
}

.survey_info {
  background-color: #ead042;
  color: #303030;
  padding: 1vmin;
  box-sizing: border-box;
  border-radius: 10px;
  line-height: 1.3;
}

.options {
  margin: 2vmin;
}

/*footer*/

footer {
  background-color: #303030;
}

#copy {
  margin-top: 3vmin;
}

ul li {
    margin-left: 0;
    padding: 0;
    margin-top: 0;
    list-style-position: inside;
}




@media (max-width: 330px){
 .heading {
   font-size: 7vmin;
   font-weight: 900;
   letter-spacing: 3px;
   text-shadow: 1px 0 #ffffff;
   font-family: 'Poiret One', cursive;
   /*font-family: 'Lobster Two', cursive;*/
   /*font-family: 'EB Garamond', serif;*/
 } 
}

@media (max-width: 766px){
  .cover .row {
    margin: 6%;
  }

  .height {
    background-color: #edeee8;
    min-height: 255vmin;
  }
  
  h1 {
    color: black;
  }

  button.actionBtns2 {
      background-color: transparent;
      border-color: transparent;
      font-weight: 700;
      padding-top: 4%;
      margin-top: 6%;
      font-family: 'Taviraj', serif;
      font-size: 3vmin;
      text-transform: uppercase;
  }
}

@media (min-width: 768px){
  .cover .row {
    margin: 4%;
  }

  .Sub {
    font-size: 16px;
  }

  .button-sm {
  background-color: #337ab7;
  border: none;
  color: white;
  width: 17vmin;
  letter-spacing: -1px;
  font-size: 2vmin;
  margin-top: 1%;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  }

  button.actionBtns2 {
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-family: 'Taviraj', serif;
    font-size: 3vmin;
    text-transform: uppercase;
  }
}

/**
*
*User Part
**/

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:30;
  max-height:30px;
}

#filter {
  text-align: center;
  width: 100%;
  margin-left: -2vmin;
  margin-top: 6vmin;
  font-size: 4vmin;
  height: 5vmin;
  color: #303030;
  padding: 1vmin;
  border: .4vmin solid #339099;
}

#searchIcon {
  margin-top: -5.5vmin;
  font-size: 3.5vmin;
}

#home {
  background-image: url("/img/img5.jpg");
  background-size: cover;
}

#Thank-You {
  min-height: 50vmin;
  text-align:center;
  margin-top: 10%;
}