<!-- View to create a Survey -->

<div class="view" >
    <form class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 create_survey " ng-submit="currentSurvey.create()">
        <div class="form-group">
                <label>Title</label>
                <input type="text" id="title" name="title" class="form-control" ng-model="currentSurvey.surveyTitle" required>
        </div>
        <div class="form-group">
                <label>Subtitle</label>
                <input type="text" id="subtitle" name="subtilte" class="form-control" ng-model="currentSurvey.surveySubtitle" required>
        </div>
        <div class="form-group">
                <label>Category</label>
                <select class="select" id="instructions" name="instructions" ng-model="currentSurvey.instructions" form="create_survey">
                  <option value="Business Surveys">Business Surveys</option>
                  <option value="Non-Profit Organisations Surveys">Non-Profit Organisations Surveys</option>
                  <option value="Market Research Surveys">Market Research Surveys</option>
                  <option value="Educational Surveys">Educational Surveys</option>
                </select>
        </div>
        <input class="button" type="submit" name="Create Survey"  value="Create Survey">
    </form>
</div>